* {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Avenir, sans-serif;
}

section {
  display: inline-block;
  width: 30%;
  padding: 1.5%;
  vertical-align: top;
}

fieldset {
  height: 150px;
  padding: 15px;
}
